<a
  {...Astro.props}
  class="flex p-2 gap-2 rounded-full border border-white/10 bg-white/5 hover:bg-white/10 md:hover:scale-105 transition-all duration-300 items-center text-sm"
  target="_blank"
  rel="noreferrer"
>
  <slot />
</a>
