---
import "../styles/global.css";
import "@fontsource-variable/onest";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro Basics</title>
  </head>
  <body>
    <Header />
    <slot />
    <Footer />
  </body>
</html>

<style is:global>
  :root {
    color-scheme: light dark;
  }
  html,
  body {
    font-family: "Onest Variable", sans-serif;
    background-color: #050505;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    scroll-behavior: smooth;
  }

  /* Disable smooth scrolling */
  /* @media (prefers-reduced-motion: no-preference) {
    html {
      scroll-behavior: auto;
    }
  } */
</style>
